.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: hsl(233, 13%, 49%);

}
body {
  background-color: hsl(240, 78%, 98%);
  background-image: url("../images/bg-bottom.svg"), url("../images/bg-top.svg");
  background-position: left bottom,right top;
  background-repeat: no-repeat, no-repeat;
}
.header {
  display: block;
  text-align: center;
}
.container {
  position: relative;
  text-align: center;
  padding: 20px;
}

.container .content {
  display: none;
}
.container .contentAnnual {
  display: block;
}
.en{
  position: relative;
  right:10px;

}
.check {
  position: relative;
  width: 50px;
  margin: 25px;
  cursor: pointer;
}
.check:before {
  content: "";
  position: absolute;
right:0px;
  bottom: -7px;
  width: 65px;
  height: 25px;
  background: hsl(237, 63%, 64%);
  border-radius: 25px;
}
.check:checked::before {
  background: hsl(237, 63%, 64%);
}
.check:after {
  content: "";
  position: absolute;
  bottom: -7px;
  right: 0px;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 23px;
  transition: 0.25s;
}
.check:checked:after {
  right: 40px;
}
.check:checked ~ .contentAnnual {
  display: none;
}
.check:checked ~ .contentMonthly {
  display: block;
}
.price {
  color: hsl(232, 13%, 33%);
  font-size: 60px;
}
.button {
  width: 94%;
  height: 40px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  border: 0.5px solid;
  background-color: white;
}
.flex-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.flex-box > div {
  height: auto;
  width: 300px;
  border-radius: 3%;
  border: 1px solid;
  padding: 50px 45px;
  background-color: #fff;
}
.professional-box {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  transform: scale(1.1);
}
.professional-box p {
  color: #fafaf9;
}
.professional-box button {
  background: #fff;
  color: hsl(237, 63%, 64%);
}
.button {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: #fff;
}

.button:hover {
  background: #fff;
  color: hsl(237, 63%, 64%);
}
.button:focus-visible{
background-color: green;
}

.professional-box button:hover {
  background: hsl(237, 63%, 64%);
  color: #fff;
}
hr {
  border: none;
  margin: 20px;
  height: 0.5px;
  background-color: hsl(234, 14%, 74%);
}
@media screen and (max-width: 600px) {
  .flex-box > div {

    margin: 20px;
    width: 500px;
  }
  body {
    background-image: url("../images/bg-top.svg");
     background-position:300px 0px;
     background-position:180px -60px;
  }
  .header {
    display: block;
